a.read-more {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

span.navbar-icon {
  background: no-repeat;
  border-radius: 50%;
  border: solid 1px #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}

.glyphicon-tteoh-About:before {
  content: "\e086";
}

.glyphicon-tteoh-Archive:before {
  content: "\e118";
}

.glyphicon-tteoh-Related:before {
  content: "\e006";
}

.glyphicon-tteoh-Resources:before {
  content: "\e218";
}