a.read-more {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

span.navbar-icon {
  background: no-repeat;
  border-radius: 50%;
  border: solid 1px #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}

/* Custom icon names */
.glyphicon-tteoh-About:before {
  content: "\e008";
}

.glyphicon-tteoh-Archive:before {
  content: "\e023";
}

.glyphicon-tteoh-Related:before {
  content: "\e044";
}

.glyphicon-tteoh-Resources:before {
  content: "\e043";
}

/* Change the color and size of the marker. */
summary::-webkit-details-marker { display:none; }