---
layout: default
---

{% for reference in site.data.taxonomy-references %}
  {% if reference.category == page.title %}
    <h1>{{ reference.category }} (Order: {{ reference.order }})</h1>
    <p>{{ reference.description }}</p>
    {% for species in reference.species %}
      <details>
        <summary>
          <h2><i>{{ species.name }}</i> <small><span class="glyphicon glyphicon-search" aria-hidden="true"></span></small></h2>
        </summary>
      <p>{{ species.description }}</p>
<span style="display:block; width:200px">
          <a href="{{ site.imgurl }}{{ page.title }}/{{ species.file }}">
          <img src="{{ site.imgurl }}{{ page.title }}/{{ species.file }}">
          </a>
          {% for img in species.bonusimg %}
            <a href="{{ site.imgurl }}{{ page.title }}/{{ img.file }}">
            <img src="{{ site.imgurl }}{{ page.title }}/{{ img.file }}">
            </a>
          {% endfor %}
          </span>
        <br>
      </details>
    {% endfor %}
  {% endif %}
{% endfor %}

<hr>

<p align="center"><small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</small></p>